
.question{
   text-align: center;
color: ;
}

h2{
    color: rgb(21, 6, 6);
}

p{
    visibility: hidden;
    color:rgb(0, 0, 0);
}

button{
    cursor: pointer;

}

.add-event{
    background-color: green;

}
